img {
    border: 0px;    
}

#main {
    width: 97%;
    margin: auto;
}

#top {
    margin-top: 50px;
}

#app {
    display: block;
    min-height: 800px;
}

.status-column {
    border: 1px solid #cccccc;
    float: left;
    width: 350px;
    height: 1500px;
    margin: 3px;
}

.trash-block {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    left: 40%;
    width: 500px;
    height: 80px;
    display: block;
    background: url("/images/trash-ico.png") no-repeat center;
    border-radius: 5px;
    background-color: #A13333;
    box-shadow: 0 0 10px red;
}

.archive-block {
    position: fixed;
    z-index: 99999;
    right: 0;
    width: 150px;
    height: 500px;
    display: block;
    border: 1px solid #000000;
}

.ticket {
    float: left;
    display: block;
    width: 140px;
    height: 100px;
    margin:7px;
    padding: 7px;
    box-shadow: 0 0 10px #a4a4a4;
    background-color: #faf2cc;
}

