img {
    border: 0px;    
}

#main {
    width: 97%;
    margin: auto;
}

#top {
    margin-top: 50px;
}

#statuses {
    display: block;
    height: 1500px;
}

.status-column {
    border: 1px solid #cccccc;
    float: left;
    width: 350px;
    height: 1500px;
    margin: 3px;

}

.ticket {
    float: left;
    display: block;
    width: 140px;
    height: 100px;
    margin:7px;
    padding: 7px;
    box-shadow: 0 0 10px #a4a4a4;
    background-color: #faf2cc;
}

