<div class="check-list">
    {{#if List}}
        {{#each List}}
            <div class="list-item">
                <input id="{{id}}" type="checkbox" {{#if done}} checked="checked" {{/if}}><label {{#if done}}style="text-decoration: remove-all"{{/if}}>{{text}}</label>
                <a class="del"></a>
            </div>
            <input type="text" class="" value="{{text}}"/>
        {{/each}}
    {{/if}}
    <a class="add"></a><input type="text" placeholder="Add new list item">
</div>