
<div class="check-list">
    {{#if List}}
        {{#each List}}
            <div class="list-item">
                <input id="{{id}}" type="checkbox" {{#if done}} checked="checked" {{/if}} class="js-done-item"><label {{#if done}}style="text-decoration: remove-all"{{/if}}>{{text}}</label>
                <a class="del">del</a>
            </div>
            <input type="text" class="edit-item-input" data-id="{{id}}" style="display: none;" value="{{text}}"/>
        {{/each}}
    {{/if}}
    <a ></a><input type="text" placeholder="Add new list item" id="add-checklist-item">
</div>