<div class="check-list">

     {{#each List}}
         <div>
             <input id="{{id}}" type="checkbox" {{#if done}} checked {{/if}}><span {{#if done}}style="text-decoration: remove-all"{{/if}}>{{text}}</span>
         </div>
     {{/each}}
</div>