<div class="span12 center-form">
    <label for="title">Заголовок</label><input type="text" id="title" />
    <label for="story">Категория</label><select id="story"></select>
    <label for="text">Текст</label><textarea id="text"></textarea>
    <button class="btn btn-primary" id="js-add-ticket">Save</button>
</div>